body {
    font-family: "Open Sans", arial;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: rgb(63, 76, 107);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f4c6b', endColorstr='#3f4c6b', GradientType=0);
    /* IE6-9 */
}

nav {
    background: #4e586e;
    position: absolute;
    top: 50px;
    bottom: 0;
    height: 100%;
    left: 465px;
    width: 70px;
    max-height: 715px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    z-index: 5;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 13px;
    display: table;
    width: 250px;
    border-top: 1px solid #03A2A2;
}

.fa {
    position: relative;
    width: 70px;
    height: 36px;
    text-align: center;
    top: 12px;
    font-size: 20px;
}

nav .nav-text {
    position: relative;
    top: 12px;
}

a:hover {
    color: #fff;
    background-color: #3863F4;
}

nav:hover {
    width: 250px;
}

.logo {
    width: 70px;
    font-family: 'Tangerine', serif;
    text-align: center;
    transition: all 0.5s ease;
}

.label {
    height: 0px;
    float: left;
    width: 70px;
    transition: all 0.5s ease;
    font-family: 'Tangerine', serif;
    opacity: 0;
}

nav:hover>.logo {
    width: 250px;
}

nav:hover>.logo>h2 {
    text-indent: -999px
}

nav:hover>.logo>h2:before {
    text-indent: 0px;
    content: 'Converse Store';
    float: left;
    position: relative;
    left: 40px;
}

nav:hover>.label {
    height: 50px;
    width: 250px;
    opacity: 1;
    color: black;
    text-align: center;
}

.scrollbar {
    height: 90%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#scrollbar::-webkit-scrollbar-track {
    border-radius: 2px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}