body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.card-body {
  background-color: black;
  width: 100%;
  max-height: 400px;
}

.card-text {
  color: #fff
}