* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-image: url(../images/starTrek.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    background-color: #000;
}

.container {
    display: grid;
}

p, h1 {
    color: #fff;
}

li {
    list-style: none;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: chartreuse;
}

a:hover {
    background-color: blue;
    color: #FFF;
    font-weight: 600;
}

button {
    background-color: #000;
}

